@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #f4f4f4; /* Light background */
  --text-color: #121212; /* Dark text */
  --dominant: #52B788; 
  --primary: #D8F3DC;
  --secondary: #1B4332;
}

*{
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 500;
  @apply font-inter;
}


h1,h2,h3,h4,h5,h6 {
  @apply font-merri;
}