@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #ffffff ; /* Dark background #121212 */
  --text-color: #121212;

  --dominant: #52B788; 
  --primary: #D8F3DC;
  --secondary: #1B4332;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
